[run]

omit =
    nera/data/_data_acquisition.py       # we dont test the data manipulation and the web scrapper files
    nera/data/_data_saving_loading.py

    nera/models/loss/_weighted_MSE.py

    nera/utils/_decorators.py

    test/*                               # Exclude all test files
    notebooks/*                          # Exclude all notebooks -- idk if needed

